.pg-2 {
    display: none;
}

.pg-3 {
    display: none;
}

.pg-4 {
    display: none;
}

.active {
    display: block !important;
}

.inactive {
    display: none !important;
}

#spinner {
    padding-top: 1em;
    position: absolute;
}
