body {
    font-family: Sans-Serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    height: 10vh;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    padding-left: 30px;
    height: inherit;
}

.nav-item {
    padding: 15px;
}

.options {
    padding-right: 60px;
}

/* title text */

@media only screen and (max-width: 768px) {
    .title {
        font-size: 8vw;
        font-weight: 700;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 4vw;
        font-weight: 700;
    }
}

.subpage-title {
    font-size: 60px;
    font-weight: 700;
    color: red;
}

/* title text end */


/* section heights */

.title-banner {
    height: 90vh;
}

.about-banner {
    height: 40vh;
}

.section {
    height: 45vh;
}

.contact-section {
    height: 64vh;
    background-color: #333333;
}

/* section heights */


/* banner-text */

@media only screen and (max-width: 768px) {
    .title-banner-text {
        position: absolute;
        bottom: 30vh;
        left: 5vw;
    }
}

@media only screen and (min-width: 768px) {
    .title-banner-text {
        position: absolute;
        bottom: 30vh;
        left: 25vw;
    }
}

.subpage-banner-text {
    position: absolute;
    bottom: 65vh;
    left: 10vw;
}

/* banner-text end */


/* carousel styling */

.carousel-inner{
    width:100%;
    max-height: 90vh;
    object-fit: cover;
  }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/* carousel styling end*/

@media only screen and (max-width: 768px) {
    .footer {
        height: 60vh;
    }

}


@media only screen and (min-width: 768px) {
    .footer {
        height: 30vh;
    }

}

.copyright {
    background-color: black;
    height: 3vh;
}

.card {
    background-color: black;
}


.service-background {
    background:url('../images/3.jpg');
    background-color: black;
    position: relative;
    background-size:cover; /* cover will scale the image so that the smallest dimension = the widest dimension of the box */
    background-position:center; /* vs the top-left that is default */

}

.service-background:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.85);
}

.container-fludi {
    margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}