body {
    font-family: Sans-Serif;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    height: 10vh;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand img {
    padding-left: 30px;
    height: inherit;
}

.nav-item {
    padding: 15px;
}

.options {
    padding-right: 60px;
}

/* title text */

.title {
    font-size: 60px;
    font-weight: 700;
}

.subpage-title {
    font-size: 60px;
    font-weight: 700;
    color: red;
}

/* title text end */


/* section heights */

.title-banner {
    height: 90vh;
}

.about-banner {
    height: 40vh;
}

.section {
    height: 45vh;
}

/* section heights */


/* banner-text */

.title-banner-text {
    position: absolute;
    bottom: 30vh;
    left: 25vw;
}

.subpage-banner-text {
    position: absolute;
    bottom: 65vh;
    left: 10vw;
}

/* banner-text end */


/* carousel styling */

.carousel-inner{
    width:100%;
    max-height: 90vh;
    object-fit: cover;
  }

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

/* carousel styling end*/
